global:
  checkNewVersion: true
  sendAnonymousUsage: false

entryPoints:
  web:
    address: :80
    forwardedHeaders:
      insecure: true

providers:
  file:
    directory: "/etc/traefik/services/"
    watch: true

log:
  level: DEBUG

api:
  dashboard: "{{ traefik_dashboard | default(true) }}"
  insecure: true
  debug: true

{% if traefik_admin_password is defined and traefik_admin_password and (traefik_dashboard | default(true)) %}
dashboard:
  users:
    admin:
      password: "{{ traefik_admin_password }}"
{% endif %}