---
- name: Deploy and configure Traefik reverse proxy
  hosts: traefik
  become: true
  vars_files:
    - ../vars/traefik.yaml
    - ../vars/vault.yaml

  pre_tasks:
    - name: Ensure prerequisite packages are installed
      ansible.builtin.package: # Will use apt, dnf, etc. based on the target system
        name:
          - wget
          - tar
          - curl
          - dnsutils
          - iputils-ping
        state: present # Install if not already present
    - name: Ensure traefik user and group exist
      ansible.builtin.user:
        name: traefik
        system: yes
        create_home: no
        state: present
  tasks:
    - name: Download current Traefik binary
      ansible.builtin.get_url:
        url: "https://github.com/traefik/traefik/releases/download/v{{ traefik_version }}/traefik_v{{ traefik_version }}_linux_amd64.tar.gz"
        checksum: "sha256:https://github.com/traefik/traefik/releases/download/v{{ traefik_version }}/traefik_v{{ traefik_version }}_checksums.txt"
        dest: /tmp/traefik.tar.gz
        mode: '0644'
    - name: Extract Traefik binary to /usr/local/bin
      ansible.builtin.unarchive:
        src: /tmp/traefik.tar.gz
        dest: /usr/local/bin/
        remote_src: yes
        mode: '0755'
        owner: traefik
        group: traefik
    - name: Create Traefik configuration directory
      ansible.builtin.file:
        path: "{{ item }}"
        state: directory
        owner: traefik
        group: traefik
        mode: '0755'
      with_items:
        - /etc/traefik
        - /etc/traefik/services
        - /var/log/traefik
    - name: Deploy Traefik configuration files
      ansible.builtin.template:
        src: "/code/ansible/playbooks/templates/traefik/{{ item }}.j2"
        dest: "/etc/traefik/{{ item }}"
        owner: traefik
        group: traefik
        mode: '0644'
      loop:
        - traefik.yaml
        - services/dynamic_config.yaml
      register: traefik_config
    - name: Create Traefik service
      ansible.builtin.copy:
        src: /code/ansible/playbooks/templates/traefik/traefik
        dest: /etc/init.d/traefik
        owner: traefik
        group: traefik
        mode: '0755'

  post_tasks:
    - name: Ensure traefik is stopped and restarted if configuration changed
      remote_user: traefik
      ansible.builtin.command: 
        service traefik stop
      failed_when: false # Ignore failure if service is not running
      changed_when: true
      when: traefik_config.changed
    - name: Ensure traefik is started and enabled
      remote_user: traefik
      ansible.builtin.command:
        service traefik start
