http:
  routers:
    web-router:
        rule: "PathPrefix(`/`)"
        service: web
{% if traefik_dashboard %}
    dashboard-router:
      rule: "Host(`{{ traefik_dashboard_domain }}`)"
      service: api@internal
{% if traefik_admin_password is defined %}
      middlewares:
        - auth    
  middlewares:
    auth:
      basicAuth:
        users:
          - "admin:{{ traefik_admin_password }}"
{% endif %}
{% endif %}

{% if traefik_services | length > 0 %}
  services:
    web:
      loadBalancer:
        servers:
{% for service in traefik_services %}
          - url: "{{ service.url }}"
{% endfor %}
{% endif %}
